* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  position: relative;
  background-color: #e3e6e6;
}

#navbar {
  width: 100%;
  height: 60px;
  background-color: #131921;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  position: fixed;
  top: 0%;
  z-index: 1000;
}

#logodiv {
  width: 100px;
  height: 50px;
  padding: 5px;
}

#logo {
  width: 100%;
  height: 50px;
  object-fit: contain;
}

#location-container {
  height: 50px;
  display: flex;
  align-items: center;
}

#location-container i {
  color: white;
  margin-left: 7px;
}

#address {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

#top {
  height: 14px;
}

#top p {
  font-size: 12px;
  line-height: 12px;
  text-align: start;
  color: #cccccc;
  text-wrap: nowrap;
}

#bottom {
  height: 16px;
}

#bottom p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  text-wrap: nowrap;
}

#searchbar-container {
  width: 600px;
  height: 60px;
  padding: 10px 4px;
  display: flex;
  flex-direction: row;
}

#select {
  width: 52px;
  height: 40px;
  padding: 5px;
  border-radius: 4px 0px 0px 4px;
  background-color: #e6e6e6;
  border: 0.5px solid rgb(240, 240, 240);
}

#search {
  width: 100%;
  height: 40px;
  border: none;
  padding: 10px;
  font-size: 15px;
  line-height: 15px;
}

#search:focus {
  outline: none;
}

#searchbtn {
  width: 45px;
  height: 40px;
  background-color: #febd69;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 4px 4px 0px;
  font-size: 20px;
}

#select:focus {
  border: 0.5px solid rgb(129, 129, 129);
}

#searchbtn:hover {
  background-color: #faa73a;
}

#flag-container {
  height: 50px;

  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#flag {
  width: 24px;
  height: 18px;
}

#flagimg {
  width: 24px;
  height: 18px;
  object-fit: cover;
}

#flag-container p {
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
  color: white;
  margin-left: 3px;
}

#flag-container i {
  margin-top: 6px;
  font-size: 12px;
  margin-left: 3px;
  color: #e6e6e6;
}

#signin-container {
  height: 50px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  gap: 2px;
}

#searhinput-cont {
  width: 100%;
}

#signin-container p {
  font-size: 12px;
  line-height: 14px;
  text-align: start;
  text-wrap: nowrap;
}

#account p {
  font-size: 13px;
  line-height: 14px;
  text-align: start;
  font-weight: 600;
}

#return-container {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  text-wrap: nowrap;
}

#return-container p {
  font-size: 12px;
  line-height: 14px;
  color: white;
}

#order p {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: white;
}

#cart {
  height: 50px;
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

#cart i {
  font-size: 25px;
}

#carttext p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 550;
  margin-top: 10px;
}

.border:hover {
  border: 1px solid white;
}

#flag-container {
  position: relative;
}

#flag-container-content {
  width: 240px;
  height: auto;
  padding: 15px;
  background-color: white;
  position: absolute;
  top: calc(95%);
  left: 0;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  display: none;
  z-index: 10;
}

.background {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.286);
}

#flag-container:hover #flag-container-content {
  display: block;
}

#flag-container:hover .background {
  display: block;
}

#flag-container:hover .background {
  display: block;
  pointer-events: none;
}

#english {
  width: 18px;
  height: 18px;
  accent-color: #c45500;
}

#first-lang {
  display: flex;
  align-items: center;
  gap: 3px;
}

#first-lang label {
  font-size: 13px;
}

#first-lang label:hover {
  color: #c45500;
  text-decoration: underline;
}

hr {
  margin-top: 13px;
}

#hindi {
  width: 18px;
  height: 18px;
  accent-color: #c45500;
}

#second-lang {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 13px;
}

#second-lang label {
  font-size: 13px;
}

#second-lang label:hover {
  color: #c45500;
  text-decoration: underline;
}

#tamil {
  width: 18px;
  height: 18px;
  accent-color: #c45500;
}

#third-lang {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 13px;
}

#third-lang label {
  font-size: 13px;
}

#third-lang label:hover {
  color: #c45500;
  text-decoration: underline;
}

#telgu {
  width: 18px;
  height: 18px;
  accent-color: #c45500;
}

#fourth-lang {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 13px;
}

#fourth-lang label {
  font-size: 13px;
}

#fourth-lang label:hover {
  color: #c45500;
  text-decoration: underline;
}

#kannada {
  width: 18px;
  height: 18px;
  accent-color: #c45500;
}

#fifth-lang {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 13px;
}

#fifth-lang label {
  font-size: 13px;
}

#fifth-lang label:hover {
  color: #c45500;
  text-decoration: underline;
}

#malayalam {
  width: 18px;
  height: 18px;
  accent-color: #c45500;
}

#sixth-lang {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 13px;
}

#sixth-lang label {
  font-size: 13px;
}

#sixth-lang label:hover {
  color: #c45500;
  text-decoration: underline;
}

#bengali {
  width: 18px;
  height: 18px;
  accent-color: #c45500;
}

#seventh-lang {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 13px;
}

#seventh-lang label {
  font-size: 13px;
}

#seventh-lang label:hover {
  color: #c45500;
  text-decoration: underline;
}

#marathi {
  width: 18px;
  height: 18px;
  accent-color: #c45500;
}

#eighth-lang {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 13px;
}

#eighth-lang label {
  font-size: 13px;
}

#eighth-lang label:hover {
  color: #c45500;
  text-decoration: underline;
}

#learn {
  margin-top: 17px;
  margin-left: 22px;
}

#learn a {
  text-decoration: none;
  font-size: 13px;
  color: #0066c0;
}

#p {
  display: flex;
  gap: 3px;
  margin-top: 15px;
}

#p p {
  font-size: 13px;
  color: black;
  font-weight: 100;
}

#change {
  margin-top: 15px;
  margin-left: 22px;
}

#change a {
  font-size: 15px;
  text-decoration: none;
  color: #0066c0;
}

#flag2 {
  width: 17px;
  height: 15px;
}

#flagimg2 {
  width: 100%;
  height: 100%;
}

#signin-container {
  position: relative;
}

#signin-cont {
  position: absolute;
  width: 500px;
  border-radius: 5px;
  height: auto;
  top: calc(100%);
  color: black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  padding: 15px;
  right: -40%;
}

#signin-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  display: none;
  z-index: 10;
}

#signin-container:hover #signin-cont {
  display: block;
}

#signin-container:hover .background {
  display: block;
  pointer-events: none;
}

/* #background:hover #signin-cont{
      display: block;
  } */

#signin-cont button {
  width: 220px;
  height: 33px;
  border: none;
  border-radius: 10px;
  background-color: #ffd814;
  font-size: 13px;
  line-height: 30px;
}

#homepage-signin {
  width: 100%;
  box-shadow: 0 -20px 10px -20px rgba(0, 0, 0, 0.059) inset;
}

#signin-cont p,
a {
  text-align: center;
  margin-top: 7px;
  font-size: 11px;
  padding-bottom: 10px;
}

#signin-cont a {
  text-decoration: none;
  color: #0055aa;
}

#signin-cont a:hover {
  color: #c45500;
  text-decoration: underline;
}

#homepage-signin-content {
  width: 100%;
  display: flex;
  margin-top: 16px;
}

#left-content {
  width: 50%;
  box-shadow: -20px 0 10px -20px rgba(0, 0, 0, 0.1) inset;
}

#left-content p {
  text-align: start;
  font-size: 16px;
  font-weight: 600;
}

.anchor {
  text-align: start;
  margin-top: 7px;
}

#right-content {
  width: 50%;
  margin-left: 15px;
}

#right-content p {
  text-align: start;
  font-size: 16px;
  font-weight: 600;
}

.content {
  font-size: 13px;
}

#hamburger-content {
  margin-top: 60px;
  height: 40px;
  background-color: #232f3e;
  display: flex;
  align-items: center;
  color: white;
  padding: 5px 15px;
  gap: 10px;
}

#main-container {
  height: auto;
  width: 100%;
  background-color: white;
  padding: 14px;
  display: flex;
  gap: 8px;
}

#all-filters {
  width: 20%;
  height: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

#products {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.card {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.posterdiv {
  height: 330px;
  width: 207px;
}

.posterdiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 13px;
}

.price {
  font-size: 28px;
  margin-top: 10px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.primediv {
  width: 53px;
  height: 20px;
  margin-top: 10px;
}

.rate {
  margin-top: 8px;
  font-size: 12px;
}

.primediv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text {
  font-size: 12px;
  line-height: 20px;
}

#star-1 i {
  color: #dc6c00;
}

#star-1 :hover{
  color: #df6c00;
}
#star-2 :hover{
  color: #df6c00;
}
#star-3 :hover{
  color: #df6c00;
}
#star-4 :hover{
  color: #df6c00;
}


#star-1 pre {
  font-size: 12px;
}
#star-2 pre {
  font-size: 12px;
}
#star-3 pre {
  font-size: 12px;
}
#star-4 pre {
  font-size: 12px;
}

#star-2 i {
  color: #dc6c00;
}
#star-3 i {
  color: #dc6c00;
}
#star-4 i {
  color: #dc6c00;
}

#star-1 {
  width: 100%;
  display: flex;
  cursor: pointer;
}
#star-2 {
  width: 100%;
  display: flex;
  cursor: pointer;
}
#star-3 {
  width: 100%;
  display: flex;
  cursor: pointer;
}
#star-4 {
  width: 100%;
  display: flex;
  cursor: pointer;
}
.star-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

#customer {
  font-size: 14px;
  font-weight: 600;
}

#title-filter {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#price-text {
  font-size: 14px;
  font-weight: 600;
}

#under-300 {
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}

#under-300-500 {
  font-size: 14px;
  width: 100%;
  margin-top: 3px;
  cursor: pointer;
}

#under-500-1000 {
  font-size: 14px;
  width: 100%;
  margin-top: 3px;
  cursor: pointer;
}

#under-1000-1500 {
  font-size: 14px;
  width: 100%;
  margin-top: 3px;
  cursor: pointer;
}

#brand-filter {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#brand {
  font-size: 14px;
  font-weight: 600;
}

#labelofketch {
  font-size: 14px;
}

.checkbox-cont {
  display: flex;
  align-items: center;
  gap: 5px;
}
